.container {
	margin-top: 6.5rem;
	font-family: serif;
	font-size: 19px;
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
}

.container-fluid {
	margin-top: 6.5rem;
	font-family: serif;
	font-size: 19px;
	min-height: 100vh; 
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
}

.navbar {
	background-color: #0b8a9f;
}

.footer {
	flex-shrink: 0;
	color: white;
	background-color: #0b8a9f;
	text-align: center;
	padding: 30px;
}

